* {
    padding: 0;
    margin: 0;
}
:root {
    --primary: #695aa6;
}
body {
    color: var(--primary);
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    margin-top: 25px;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 0px 20px;
    list-style: none;
}
.left {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    flex-wrap: wrap;
}
.box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sectionLeft {
    width: 33%;
    font-size: 3rem;
    /* background-color: red; */
    /* text-align: center; */
}
.sectionRight {
    width: 30%;
    /* margin-top: 5%; */
    /* text-align: center; */
    /* background-color: red; */
}
.sectionRight img {
    width: 300px;
    margin: 0px 10px;
}
.purple {
    color: rgb(189, 189, 246);
}

@keyframes example {
    0% {
        transform: rotate(0deg);
    }
    /* 25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    } */
    100% {
        transform: rotate(360deg);
    }
}

.animation {
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    filter: invert(1);
    height: 25px;
}
nav ul a {
    text-decoration: none;
}
nav ul a:hover {
    color: rgb(138, 138, 239);
}
#element {
    color: rgb(189, 189, 246);
}
.secondsection {
    width: 80vw;
    font-size: 25px;
    margin: auto;
    height: 60vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main hr {
    height: 1px;
    border: 0px;
    margin: 71px 77px 20px 77px;
    background-color: black;
}
.text-gray {
    color: gray;
    font-size: 17px;
}
main h2 {
    font-size: 33px;
}
.secondsection .box {
    width: 80vw;
    margin: 56px 0px;
    height: 2px;

    display: flex;
    margin-bottom: 350px;
    background-color: rgba(128, 128, 128, 0.5);
}
.invert {
    filter: invert(1);
}
.secondsection .vertical {
    height: 100px;
    width: 1px;
    margin: 0px 7vw;
    background-color: gray;
}
.secondsection .skill {
    display: flex;
    align-items: center;
}

.top_image {
    width: 30px;
    position: relative;
    top: -33px;
    left: -12px;
}

.first_title {
    position: relative;
    top: 70px;
    /* width: 104px; */
    left: -2px;
}

.first_desc {
    font-size: 10px;
    position: relative;
    top: 80px;
    width: 134px;
    color: gray;
}
.btn a {
    text-decoration: none;
    color: white;
}
/* Project Section Styles */
.projects-section {
    margin: 20px;
    text-align: center;
    margin-top: 200px;
}

h2 {
    font-size: 2rem;
    color: #03033b;
    margin-bottom: 20px;
}
/* Project Cell Styles */
.project-cell {
    display: inline-grid;
    width: 250px;
    margin: 40px;
    padding: 35px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Initial transparent box shadow */
    transition: box-shadow 0.3s;
}

.project-cell:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* More pronounced box shadow on hover */
}

/* Rest of the styles (img, h3, p, and project-link) remain the same */

.range {
    display: flex;
    justify-content: center;
}
.white {
    width: 25vw;
    height: 20px;
    border: 2px solid black;
    margin: 10px 30px;
}
.fill {
    background-color: green;
    width: 20vw;
    height: 20px;
    z-index: 999;
    position: relative;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.project-details {
    margin-top: 10px;
}
.project-details p {
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    color: #03033b;
}

p {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

/* Project Link Styles */
.project-link {
    font-size: 1rem;
    color: #03033b;
    text-decoration: none;
    margin-top: 10px;
    color: blue;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: auto;
}
.myprojects {
    text-align: left;
}
footer {
    color: black; /* White text color for the footer */
    height: 20vh;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font: white;
}
.contact {
    width: 100%;
}
.contact-content {
    text-align: center;
}
.contact-content p {
    color: rgba(128, 128, 128, 0.5);
    font-size: 18px;
}
.contact-content h1 {
    color: var(--primary);
    font-size: 36px;
    margin-bottom: 30px;
}

.name-email {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.name-email input {
    padding: 15px;
    width: 25%;
    outline: gray;
}
.input-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.input-box textarea {
    width: 54%;
    padding: 6px;
}
.send-btn {
    text-align: center;
    margin: 20px 0;
}
.send-btn input {
    padding: 20px;
    background-color: white;
    color: gray;
    font-size: 16px;
    outline: gray;
    border: 1px solid rgba(128, 128, 128, 0.9);
    border-radius: 10px;
    cursor: pointer;
}
.send-btn input:hover {
    background-color: #050580;
    color: white;
}
#contact-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.query-map {
    display: flex;
    justify-content: center;
}
.query-map iframe {
    width: 80%;
    height: 400px;
}
/* Style for footer navigation links */
footer {
    margin: 30px 0;
}
.footer-nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin-right: 20px;
}
.footer-nav ul li a {
    text-decoration: none;
    color: black;
}

/* Style for footer navigation links on hover */
.footer-nav a:hover {
    color: #ffd700; /* Yellow text color on hover */
}
.social-icons {
    padding-top: 30px;
}

/* Style for social media icons */
.social-icons a {
    margin: 0 10px; /* Add spacing between icons */
    text-decoration: none;
}

/* Style for social media icons images (adjust width/height as needed) */
.social-icons img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    filter: invert(1);
}
.copy {
    color: black;
    font-size: 18px;
}
.buttons .btn {
    background-color: rgb(5 5 128);
    /* background-color: var(--primary); */
    color: black;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px;
}
.sectionLeft .buttons {
    padding: 12px 0px;
}
@media screen and (max-width: 1200px) {
    body,
    html {
        overflow-x: hidden;
    }
    body {
        min-width: fit-content;
    }
    .firstSection {
        flex-direction: column-reverse;
    }
    .secondsection .box {
        flex-direction: column;
        width: max(30vw, 225px);
    }
    .vertical-title,
    .vertical-desc {
        left: 45px;
    }

    .first_desc {
        position: relative;
        left: 20px;
    }
    .first_title {
        position: relative;
        left: 20px;
    }
    .secondsection .vertical {
        height: unset;
    }
    .box-content {
        flex-direction: row;
    }
    nav {
        flex-direction: column;
    }
    .sectionLeft {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        font-size:35px;
    }
    .secondsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150vh;
    }
    .sectionRight {
        display: flex;
        justify-content: center;
    }
    .sectionRight img {
        width: 225px;
        margin-bottom: 30px;
    }
    .top_image {
        top: 110px;
    }
    .skillsview {
        display: flex;
    }
}
